/* colori: white, azz #255ee9, gscuro #23272A,
 gchiaro #F6F6F6, azzchiaro #8EA1E1, azztesto #5865f2 */

/* utilities */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid rgb(255, 3, 3);
    min-height: 100px;
}

/* general */
body{
    font-family:  Helvetica, Arial, sans-serif;
    background-color: white;
}

.central-container {
    max-width: 1100px;
    margin: 0 auto;
}

.bg-gray {
    background-color: #F6F6F6;
}

li {
    list-style: none;
}

i {
    margin-right: 5px;
}

/* buttons */
.buttons {
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
}

.big-btn {
    font-size: 16px;
    padding: 7px 25px;
}

.btn-lightgray {
    background-color: white;
    color: #23272A;
}

.btn-lightgray:hover {
    color:#255ee9 ;
    cursor: pointer;
}

.btn-darkgray {
    background-color: #23272A;
    color: white;
}

.btn-lightblue {
    background-color: #5865f2;
    color: white;
}

.btn-darkgray:hover, .btn-lightblue:hover {
    opacity: 0.9;
    box-shadow: 2px 3px 20px 0px rgba(20, 20, 20, 0.5);
    cursor: pointer;
}

#btn-mac {
    margin-right: 15px;
}

/* header */
header {
    background-color: #255ee9;
    padding-top: 20px;
}

/* nav */
.flexnav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    min-width: 500px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

#accedi {
    font-size: 13px;
    padding: 7px 12px;
}

/* hero */
.hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    max-width: 600px;
    min-height: 60%;
    text-align: center;
    line-height: 1.5;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section.hero div h1 {
    font-size: 40px;
}

/* main */
main.home > section {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* sections */
svg {
    display: block;
    color: #F6F6F6;
}

.wave-down {
    transform: rotate(180deg);
}

.row-section {
    display: flex;
    justify-content: space-between;
}

.row-reverse {
    flex-direction: row-reverse;
}

.txt-row {
    width: 25%;
    padding-top: 35px;
}

div.txt-row h2 {
    font-size: 40px;
    color: #23272A;
}

 div.txt-row p {
    line-height: 1.6;
    margin-top: 15px;
 }

 /* last section in main */
.col-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.6;
}

.text-wrap {
    padding: 0 50px;
}

.col-section h2 {
    font-size: 40px;
    margin-bottom: 5px;
}

.col-section img {
    width: 100%;
    margin-bottom: 10px;
}

.col-section div#stars {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 45px;
    margin-bottom: 15px;
}

.col-section h3 {
    line-height: 45px;
}

/* footer */
footer {
    background-color: #23272A;
    color:#F6F6F6;
    padding: 50px;
}

.widget {
    display: flex;
    border-bottom: 1px solid #3b4661;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.widget > :first-child {
    flex-basis: calc((100% / 6) * 2);
    padding-right: 100px;
}

.col {
   flex-basis: calc(100% / 6);
   line-height: 1.7;
}

footer h4 {
    color: #5865f2;
    font-size: 25px;
    margin-bottom: 15px;
}

footer section div.social i {
    margin-right: 15px;
    margin-top: 15px;
    font-size: 18px;
    color: #F6F6F6;
}

select[name="lang"] {
    background-color: #23272A;
    border: none;
    color:#F6F6F6;
}

footer h3 {
    color:#5865f2;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-nav li a {
    color:#F6F6F6;
    list-style: none;
    text-decoration: none;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

footer > :last-child {
    display: flex;
    justify-content: space-between;
}

#registrati {
    font-size: 13px;
    padding: 8px 12px;
    font-weight: bold;
}

/* page accedi */
#pag-accedi {
    background-image: url(../img/sfondoaccedi.svg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pag-accedi main {
    background-color: #36393f;
    width: 60%;
    max-width: 1170px;
    min-height: 45%;
    color:#b4b6ba;
    display: flex;
    border-radius: 8px;
}

.col-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pag-accedi main h2 {
    color: #ffffff;
    font-size: 35px;
}

#col-left {
    width: 60%;
    justify-content: center;
    row-gap: 15px;
    line-height: 1.5;
}

#form-container {
    width: 100%;
}

form {
    margin: 0 45px;
}

#form > label {
    text-align: left;
}

.blue-txt {
    color:#1f9eff;
}

form input {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 3px;
    background-color:#23272A;
    margin-top: 5px;
    margin-bottom: 5px;
}

form input:last-of-type {
    background-color:#5865f2;
    color: #F6F6F6;
    font-weight: bold;
    font-size: 17px;
}

.red-txt {
    color: red;
}

#col-right {
    width: 40%;
    padding: 50px 20px;
    row-gap: 25px;
}

#col-right > div {
    line-height: 1.5;
    text-align: center;
}

#qrcode {
    width: 50%;
    border-radius: 5px;
}

